# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# llamaindex key
.streamlit/

# Jupyter Notebook checkpoints
__pycache__/

# avoding to unlawfully distribute the PDFs of the papers
data/paper_PDFs/